@using TravelTripProje.Models.Siniflar
@model List<iletisim>
@{
    ViewBag.Title = "iletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>MAil</th>
        <th>KONU</th>
        <th>MESAJ</th>
        <th>SİL</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td>@Html.ActionLink("SİL", "MesajSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek istediğinize emin misiniz?')" })</td>
        </tr>
    }

</table>



