@model TravelTripProje.Models.Siniflar.Muzeler
@{
    ViewBag.Title = "YeniMuze";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<form class="form-group" method="post">
    @*<div>
            <label>KATEGORİ ADI:</label>
            <input type="text" class="form-control" name="KATEGORIAD" />
        </div>*@
    <div>
        <label>MÜZE ADI:</label>
        @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Baslik, "", new { @style = "color:blue" })
    </div>

    <div>
        <label>TARİH:</label>
        @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tarih, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>AÇIKLAMA:</label>
        @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aciklama, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>MÜZE FOTOĞRAF URL:</label>
        @Html.TextBoxFor(m => m.MuzeImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MuzeImage, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>KONUM URL:</label>
        @Html.TextBoxFor(m => m.Konum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Konum, "", new { @style = "color:blue" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>




