@model TravelTripProje.Models.Siniflar.Restorantlar

@{
    ViewBag.Title = "YeniRestoran";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form class="form-group" method="post">

    <div>
        <label>RESTORAN ADI:</label>
        @Html.TextBoxFor(m => m.Baslik, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Baslik, "", new { @style = "color:blue" })
    </div>

    <div>
        <label>TARİH:</label>
        @Html.TextBoxFor(m => m.Tarih, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Tarih, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>AÇIKLAMA:</label>
        @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Aciklama, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>RESTORAN FOTOĞRAF URL:</label>
        @Html.TextBoxFor(m => m.RestorantImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.RestorantImage, "", new { @style = "color:blue" })
    </div>
    <div>
        <label>KONUM URL:</label>
        @Html.TextBoxFor(m => m.Konum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Konum, "", new { @style = "color:blue" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>




